---
// Componente Button.astro
interface Props {
  id: string;
  color: string;
  hvcolor: string;
}

const { id, color, hvcolor } = Astro.props;

// Mapeo de colores a clases de Tailwind
const colorClasses = {
  black: 'bg-black',
  red: 'bg-red-500',
  yellow: 'bg-yellow',
  blue: 'bg-blue',
  green: 'bg-green-400',
  white: 'bg-white'
};

const hvColorClasses = {
  black: 'text-black'
};

// Clases base para el botón
const baseButtonClasses = `flex-row justify-center text-white cursor-pointer focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-blue-500/55 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100`;

// Clases dinámicas
const dynamicClasses = `${colorClasses[color] || ''} ${hvColorClasses[hvcolor] || ''}`;
---

<button class={`${baseButtonClasses} ${dynamicClasses}`} id={id}>
  <slot />
</button>
