<!DOCTYPE html>
<html>
<head>
<title>Ciclo de Posiciones de Poker</title>
</head>
<body>

<label for="positions">Posición actual:</label>
<select id="positions">
  <option value="BB">BB</option>
  <option value="UTG">UTG</option>
  <option value="MP">MP</option>
  <option value="CO">CO</option>
  <option value="BTN">BTN</option>
  <option value="SB">SB</option>
</select>

<button id="advanceButton">Avanza</button>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const positions = ['BB', 'UTG', 'MP', 'CO', 'BTN', 'SB'];
  const selectElement = document.getElementById('positions');
  const advanceButton = document.getElementById('advanceButton');

  if (selectElement && advanceButton) {
    if (selectElement instanceof HTMLSelectElement && advanceButton instanceof HTMLButtonElement) {
      const advancePosition = () => {
        let currentIndex = positions.indexOf(selectElement.value);
        let nextIndex = (currentIndex + 1) % positions.length;
        selectElement.value = positions[nextIndex];
        console.log('Mi posición actual en la mesa es: ', selectElement.value)
      };

      advanceButton.addEventListener('click', advancePosition);
    } else {
      console.error('One or more elements are not of the expected type.');
    }
  } else {
    console.error('One or more elements could not be found.');
  }
});

</script>

</body>
</html>
