---
interface Props {
    href?: string;
}

const { href } = Astro.props
---

<li>
    <a
        class="flex gap-4 text-red-700  hover:text-red-400 items-center py-3 px-5 font-medium transition duration-200"
        href={href}
    >
        <slot />
    </a>
</li>