<li class="list-none">
    <p
        class="flex justify-center gap-4 text-zinc-100 items-center py-6 px-5 font-medium transition duration-400 text-xl"
    >
        POKER TEXAS HOLD'EM HAND SOLVER <span>♣</span> <span class="text-red-500">♥</span> <span>♠</span> <span class="text-red-500">♦</span>
    </p>
    <p
        class="flex justify-center gap-4 text-zinc-500 hover:text-zinc-100 cursor-pointer items-center px-5 font-medium transition duration-400 text-sm"
    >
        CREATED BY: BLOWFLOW PROJECTS
    </p>
</li>
